header {
  background-color: $color-primario;
  padding: $espaciado-base;
  color: white;

  nav {
    @include flex-center;
    gap: 2rem;

    a {
      color: white;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
